{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Principal Content Start -->
   <div id="index">

    <!-- Header -->
      <div class="row">
         <div class="col-xs-12 intro">
            <div class="carousel-inner">
               <div class="item active">
                <img class="img-responsive" src="{% static 'images/index/woman.jpg' %}" alt="header picture">
               </div>
               <div class="carousel-caption">
                  <h1>FIND NICE PICTURES HERE</h1>
                  <hr>
               </div>
            </div>
         </div>
      </div>

      <div id="index-body">
      <!-- category navbar -->
        {% include 'partials/_category-nav.html' %}
      
      <!-- Navigation Table Content -->
        <div class="tab-content">

        <!-- Category pictures -->
           <div id="category1" class="tab-pane active" >
              <div class="row popup-gallery">
                {% for obj in object_list %}
                  <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="sol">
                    <img class="img-responsive" src="{{ obj.image.url }}" alt="First category picture">
                    <div class="behind">
                        <div class="head text-center">
                          <ul class="list-inline">
                            <li>
                              <a class="gallery" href="{{ obj.image.url }}" data-toggle="tooltip" data-original-title="Quick View">
                                <i class="fa fa-eye"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-toggle="tooltip" data-original-title="Click if you like it">
                                <i class="fa fa-heart"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-toggle="tooltip" data-original-title="Download">
                                <i class="fa fa-download"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-toggle="tooltip" data-original-title="More information">
                                <i class="fa fa-info"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="row box-content">
                          <ul class="list-inline text-center">
                            <li><i class="fa fa-eye"></i> 1000</li>
                            <li><i class="fa fa-heart"></i> 500</li>
                            <li><i class="fa fa-download"></i> 100</li>
                          </ul>
                        </div>
                    </div>
                  </div>
                  </div>  
                {% endfor %}
              </div>
              <nav class="text-center">
                <ul class="pagination">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#" aria-label="suivant">
                    <span aria-hidden="true">&raquo;</span>
                  </a></li>
                </ul>
              </nav>
           </div>
        <!-- End of category pictures -->

        
    <!-- Box within partners name and logo -->
      <div class="last-box row">
        <div class="col-xs-12 col-sm-4 col-sm-push-4 last-block">
        <div class="partner-box text-center">
          <p>
          <i class="fa fa-map-marker fa-2x sr-icons"></i> 
          <span class="text-muted">35 North Drive, Adroukpape, PY 88105, Agoe Telessou</span>
          </p>
          <h4>Our Main Partners</h4>
          <hr>
          <div class="text-muted text-left">
            <ul class="list-inline">
              <li><img src="{% static 'images/index/log2.jpg' %}" alt="logo"></li>
              <li>First Partner Name</li>
            </ul>
            <ul class="list-inline">
              <li><img src="{% static 'images/index/log1.jpg' %}" alt="logo"></li>
              <li>Second Partner Name</li>
            </ul>
            <ul class="list-inline">
              <li><img src="{% static 'images/index/log3.jpg' %}" alt="logo"></li>
              <li>Third Partner Name</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    <!-- End of Box within partners name and logo -->

   </div><!-- End of index box -->

   <!-- Footer -->
   <footer class="home-page">
     <div class="container text-muted text-center">
       <div class="row">
         <ul class="nav col-sm-4">
           <li class="footer-number"><i class="fa fa-phone sr-icons"></i>  (+۹۸)۹۱۴-۶۸۴-۸۸۰۴ </li>
           <li><i class="fa fa-envelope sr-icons"></i>  kouvenceslas93@gmail.com</li>
           <li>Photography Fanatic Template &copy; 2017</li>
         </ul>
         <ul class="list-inline social-buttons col-sm-4 col-sm-push-4">
            <li><a href="#"><i class="fa fa-facebook sr-icons"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter sr-icons"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-google-plus sr-icons"></i></a>
            </li>
         </ul>
       </div>
     </div>
   </footer>

{% endblock %}